.container{
    display: flex;
    flex-direction: column;
    gap: 4mm;
    font-size: 40px;
    align-items: center;
    margin-top: 150px;

}


.row-container{
    display: flex;
    gap: 4mm;
    
}